@import 'src/Variables';

header {
    position: sticky;
    top: 0;
    z-index: 5;
}

.sectionHeader {
    color: $linkColor;
    background: moccasin;

    .sectionInner {
        display: flex;
        flex-direction: column;
    }

    .logo {
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        line-height: 36px;
        cursor: pointer;
        color: #FCFCFC;
        margin-right: 50px;
    }
}

.toggleNavBtn {
    display: none;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 1;
    height: 60px;

    .navbarNav {
        display: flex;
        flex-grow: 2;
        justify-content: flex-start;

        a {
            color: red;
            margin-right: 20px;

            &:hover {
                color: #EC5118;
            }
        }
    }

    .navbarAside {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        > * {
            margin-left: 20px;
        }

        .icon {
            cursor: pointer;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: #EC5118;

            &:hover {
                background: red;
            }
        }

        .signInUP {
            font-size: 14px;
            width: 140px;
        }

        .cartIcon {
            cursor: pointer;
            color: green;
            font-size: 25px;
            margin-right: 250px;

            &:hover {
                color: blue;
            }
        }
    }
}



