.heading {
    text-align: center;
    margin: 40px 0 40px 0;
}

//.sectionBanner {
//    height: 500px;
//    display: flex;
//    flex-flow: column;
//    align-items: center;
//    justify-content: center;
//    /*background: cadetblue url("../../assets/images/header_bg.jpg") no-repeat;*/
//    /*background-size: cover;*/
//}

.categoriesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutSection {
    border-top: 1px solid white;
    background-color: bisque;

    .aboutSectionWrapper {
        display: flex;
        align-items: start;

        .aboutSectionImageWrapper {
            margin-right: 50px;

            img {
                border-radius: 5px;
                width: 600px;
            }
        }

        .aboutSectionDescription {

        }
    }
}
