.main {
}

.heading {
    text-align: center;
    margin: 40px 0 60px 0;
}

.sectionBanner {
    height: 500px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    /*background: cadetblue url("../../assets/images/header_bg.jpg") no-repeat;*/
    /*background-size: cover;*/
}

.productsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutSection {
    background-color: bisque;

}
