.main {
}

.sectionBanner {
    height: 500px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    /*background: cadetblue url("../../assets/images/header_bg.jpg") no-repeat;*/
    /*background-size: cover;*/
}

