.btn {
    border-radius: 30px;
    width: 160px;
    height: 50px;
    background: purple;
    border: 4px solid purple;

    &:hover {
        background: blue;
        border: 4px solid purple;
    }
}

.sliderImage {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slideInfo {
    position: absolute;
    text-align: left;
    top: 210px;
    left: 0;
    width: 100%;
    height: 100%;
}

.slideInfo__title h1 {
    color: #FCFCFC;
    font-size: 52px;
    line-height: 145px;
    animation: title-slidein .8s linear alternate;
    position: relative;
}

@keyframes title-slidein {
    from {
        opacity: 0;
        left: -200px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

.slideInfo__subtitle h2 {
    font-size: 24px;
    color: red;
    position: relative;
    animation: subtitle-slidein .8s linear alternate;
}

@keyframes subtitle-slidein {
    from {
        bottom: -120px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}


.slideInfo__primaryBtnWrapper {
    width: 170px;
    margin-top: 50px;
    position: relative;
    animation: button-slidein .8s linear alternate;
}

@keyframes button-slidein {
    from {
        bottom: -120px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

