@import '../../../App.module';
@import 'src/Variables';

.btnWrapper {
  display: inline-block;
  //width: 300px;
}

.btnClickEffect {
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  background-color: $btnBgColor;
  color: #ffffff;
  border: none;
  outline: none;
  overflow: hidden;

  .inner {
    border-radius: 50%;
    text-align: center;
    display: block;
    position: absolute;
    background-color: $btnHoverBgColor;
    transform: translateX(-50%) translateY(-50%);
  }

  .active {
    animation: animate .2s ease-out forwards;
  }
}

@keyframes animate {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 250%;
    padding-top: 250%;
    opacity: 0.6;
  }
}