.modalBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
}

.modalWindow {
    width: 60%;
    max-width: 1000px;
    height: 70%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    img:first-child {
        width: 20px;
        position: absolute;
        right: 2%;
        top: 2%;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: 0.2s ease;
        }
    }

    img {
        width: 60%;
        height: auto;
        object-fit: cover;
    }
}
