.shopSection .sectionInner {
    display: flex;
}

.shopInnerWrapper {
    display: flex;
}
.productsWrapper {
    display: flex;
    flex-direction: column;
    background: #EC5118;
    width: 80%;
}

.productsPanel {
    height: 50px;
    background: red;
}

.products {
    display: flex;
    flex-wrap: wrap;
}