.shopSection {
    margin-top: 20px;

    .shopInnerWrapper {
        display: flex;

        .productsWrapper {
            display: flex;
            flex-direction: column;
            width: 80%;
            padding: 0 20px;
        }
    }
}

/* Products list */

.products {
    display: flex;
    flex-wrap: wrap;

    .card {
        width: 290px;
        height: 400px;

        p {
            height: 0 !important;
        }
    }
}

/* Product card */
