.shopSection .sectionInner {
    display: flex;
}

.shopInnerWrapper {
    display: flex;
}

.productsWrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 20px;
}

/* Sorting panel */

.sortPanelWrapper {
    height: 50px;
    margin-bottom: 10px;
}

.sortPanel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text {
    margin-right: 20px;
}

.selectArea {
    width: 200px;
}

.sortArrow {
    text-align: center;
    width: 25px;
    border: 1px solid black;
    margin: 0 20px;
    cursor: pointer;
}

/* Products list */

.products {
    display: flex;
    flex-wrap: wrap;
}

.filterWrapper {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.card {
    margin: 10px;
}