@import '../../App.module';
@import '../../Global';

.ourProductsSection {
    .heading {
        margin: 2% 0;
    }
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    //background-image: url("../../assets/images/heading_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100px;
    margin: 7% 0;
    text-transform: uppercase;
    font-size: clamp(0.6rem, 0.7vw , 1.2rem);

    img {
        padding: 0 1%;
    }
}

// Catalog
.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;

    .productTypes {
        display: flex;
        flex-wrap: wrap;

        div {
            margin-top: 2rem;

            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            text-align: center;

            a {
                width: 100%;
            }

            img {
                width: 60%;
                cursor: pointer;
                border-radius: 4%;
                &:hover {
                    transform: scale(1.1);
                    transition: 0.2s ease;
                }
            }
            p {
                margin-top: 1rem;
                font-family: 'Playfair Display SC';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                font-size: clamp(1.2rem, 2vw, 2.5rem);
                line-height: 163.8%;
                text-align: center;
                letter-spacing: 0.075em;
                color: #000000;
            }
        }
    }
}

//.categoriesContainer {
//    @include flexCenter;
//    justify-content: space-between;
//    align-content: flex-start;
//    margin: 0 auto;
//    flex-wrap: wrap;
//    width: 100%;
//
//    @include sm() {
//        flex-direction: row;
//    }
//
//    @include md() {
//        height: 100%;
//    }
//
//    @include lg() {
//    }
//
//    @include xl() {
//        width: 80%;
//    }
//
//    .cardWrapper {
//        margin-bottom: 15%;
//        display: flex;
//        flex-direction: column;
//        align-items: center;
//        border: none;
//        width: 100%;
//
//        @include sm() {
//            width: 50%;
//        }
//
//        @include md() {
//            margin-bottom: 3%;
//        }
//
//        .cardImageWrapper {
//            transition: transform 0.8s;
//            transform-style: preserve-3d;
//            width: 250px;
//            height: 250px;
//            margin-bottom: 20px;
//            overflow: hidden;
//            cursor: pointer;
//            border-radius: 50px;
//            position: relative;
//            box-shadow: 4px 4px 8px rgba(34, 60, 80, 0.2);
//
//            @media (min-width: 400px) {
//                width: 300px;
//                height: 300px;
//            }
//
//            @media (min-width: 500px) {
//                width: 350px;
//                height: 350px;
//            }
//
//            @include sm() {
//                width: 250px;
//                height: 250px;
//            }
//
//            @include md() {
//                width: 300px;
//                height: 250px;
//            }
//
//            @include lg() {
//                width: 370px;
//                height: 240px;
//            }
//
//            @media (min-width: 1700px) {
//                width: 550px;
//                height: 420px;
//            }
//
//            img {
//                position: absolute;
//                top: 50%;
//                left: 50%;
//                height: 100%;
//                width: 100%;
//                transform: translateX(-50%) translateY(-50%);
//                transition: all ease-in-out 0.3s;
//
//                &:hover {
//                    transform: translateX(-50%) translateY(-50%) scale(1.2);
//                }
//            }
//        }
//
//        .cardTitle {
//            font-size: 22px;
//        }
//
//        .cardDescription {
//            display: block;
//            padding: 20px;
//            color: white;
//            font-size: 30px;
//            overflow: hidden;
//            background-color: rgba(201, 120, 101, 0.5);
//            width: 100%;
//            height: 100%;
//            position: relative;
//            top: 100%;
//            line-height: 1.6;
//            transition: 0.3s linear;
//        }
//
//        .cardFooter {
//            background: none;
//            border: none;
//            width: 100%;
//            text-align: center;
//
//            button {
//                background: none;
//                border: 3px solid #9d4631;
//                border-radius: 24px;
//                color: black;
//                width: 150px;
//                font-size: 18px;
//                font-weight: 400;
//                text-align: center;
//                letter-spacing: 0.075em;
//
//                &:hover {
//                    background-color: #c97865;
//                }
//
//                @include xl() {
//                    box-shadow: 0 4px 3px 4px rgba(157, 70, 49, 0.25);
//                    width: 160px;
//                    font-size: 18px;
//                }
//            }
//        }
//    }
//}

.aboutSection {
    .heading {
        margin: 5% auto;
    }

    .aboutSectionWrapper {
        @include flexCenter();
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @include md() {
            flex-direction: row;
            align-items: flex-start;
        }

        .aboutSectionImageWrapper {
            order: 2;
            width: 90%;
            border-radius: 5px;
            overflow: hidden;

            @include sm() {
                width: 70%;
            }

            @include md() {
                order: 1;
                width: 30%;
                margin-right: 5%;
            }

            img {
                width: 100%;
            }
        }

        .aboutSectionDescription {
            order: 1;
            text-align: justify;
            text-indent: 10%;
            width: 100%;
            //font-size: 1.3em;
            font-size: clamp(1.2rem, 1.7vw, 3rem);
            margin-bottom: 10%;

            h2 {
                text-align: center;
                margin-bottom: 5%;
            }

            @include md() {
                order: 2;
                width: 40%;
                margin: 0;
            }
        }

        .aboutSectionDescriptionLogo {
            order: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5%;
            width: 100%;
        }
    }
}

.socialNetworks {
    margin-top: 3rem;
    background-image: url('../../assets/images/abstract.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .socialNetworksWrapper {
        @include flexCenter;
        justify-content: center;
        width: 90%;

        @include lg() {
            height: 600px;
        }

        @include xl() {
            height: 800px;
        }

        p {
            padding-bottom: 5%;
            text-transform: uppercase;
            font-family: 'Playfair Display SC';
            font-style: normal;
            font-weight: 400;
            //font-size: 46px;
            font-size: clamp(1rem, 3vw, 3rem);
            line-height: clamp(1.5rem, 4vw, 4rem);
            //line-height: 61px;
            text-align: center;
            color: #000000;
            width: 100%;

            //@include sm() {
            //    font-size: 1.8em;
            //}
            //
            //@include lg() {
            //    font-size: 2.2em;
            //}
            //
            //@include xl() {
            //    font-size: 2.6em;
            //}
        }

        .socialNetworksItemsWrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .socialNetworksItem {
                cursor: pointer;

                img {
                    width: 80px;

                    @include lg() {
                        width: 100px;
                    }
                }
            }

            @media (min-width: 400px) {
                flex-direction: row;
                width: 60%;
                margin: 0 auto;
                justify-content: space-between;
            }

            @include sm() {
                width: 200px;
            }

            @include lg() {
                width: 300px;
            }
        }
    }
}

.advantagesSection {
    margin: 4% 0;

    .advantagesSectionWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include md() {
            flex-direction: row;
        }

        .advantagesItem {
            display: flex;
            flex-direction: column;
            //width: 200px;
            align-items: center;
            margin-bottom: 30px;

            &:nth-child(2) {
                //margin: 0 200px;
            }

            .advantagesItemImageWrapper {
                width: 170px;
                height: 170px;

                @include lg() {
                    width: 200px;
                    height: 200px;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .advantagesItemText {
                text-align: center;
                font-style: italic;
                font-weight: 400;
                font-size: 1.6em;
                line-height: 27px;
                width: 80%;
            }
        }
    }
}

// How to order

.howToOrder {
    display: flex;
    justify-content: space-between;

    .orderItem {
        display: flex;
        flex-direction: column;
        flex-basis: 33%;

        img {
            width: 50%;
            margin: 0 auto;
        }

        p {
            margin-top: 5%;
            text-transform: uppercase;
            font-family: 'Playfair Display SC';
            font-style: normal;
            font-weight: 400;
            font-size: clamp(0.6rem, 1.5vw, 2rem);
            line-height: clamp(1rem, 2vw, 2.5rem);
            text-align: center;
            color: #000000;
        }
    }
}

// Reviews

.reviews {
    // reviews styles are in components/EmblaCarousel
}
