$trBgColor: darkseagreen;
$btnBgColor: #3498DB;
$btnHoverBgColor: darken($btnBgColor, 15%);
$btnColor: white;
$boxShadow: 0 4px 8px rgba(34, 60, 80, 0.2);
$userInfoBgColor: #f1f1f1;

@mixin flexCenter() {
  display: flex;
  flex-direction: column;
}


* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

.appWrapper {
  display: flex;
  flex-direction: column;
}

.sectionOuter {
  padding-left: 0;
  padding-right: 0;
}

.sectionInner {
  width: 90%;
  margin: 0 auto;
}

.icon:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
