$mainBgColor: rgba(255, 229, 204, 0.3);

$linkColor: white;
$trBgColor: darkseagreen;
$btnBgColor: #3498db;
$btnHoverBgColor: darken($btnBgColor, 15%);
$btnColor: white;
$boxShadow: 0 4px 8px rgba(34, 60, 80, 0.2);
$userInfoBgColor: #f1f1f1;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Extra large screens
$screen-xxl-min: 1600px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

// Tablets and small desktops
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// Large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

// Extra large devices
@mixin xxl {
    @media (min-width: #{$screen-xxl-min}) {
        @content;
    }
}

