$linkColor: white;
$trBgColor: darkseagreen;
$btnBgColor: #3498DB;
$btnHoverBgColor: darken($btnBgColor, 15%);
$btnColor: white;
$boxShadow: 0 4px 8px rgba(34, 60, 80, 0.2);
$userInfoBgColor: #f1f1f1;