.innerWrapper {
  display: flex;
  margin-top: 30px;
}

.navbarNav {
  width: 20%;
  display: flex;
  flex-direction: column;

  a {
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .newOrders {
    margin-left: 20px;
    width: 30px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
  }
}