.productWrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    text-align: center;
}

.productImageWrapper {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
}

.productImageWrapper a {
    width: 100%;
    height: 100%;
    padding: 0;
}

.productImageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .8s;
}

.productImageWrapper img:hover {
    transform: scale(1.035) rotate(
            0.05deg
    );
}

.productTitle {

}

.productDescription p {
    margin-bottom: 0;
}