.cardWrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    text-align: center;
}

.cardImageWrapper {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
}

.cardImageWrapper a {
    width: 100%;
    height: 100%;
    padding: 0;
}

.cardImageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .8s;
}

.cardImageWrapper img:hover {
    transform: scale(1.035) rotate(
            0.05deg
    );
}

.cardTitle {

}

.cardDescription p {
    margin-bottom: 0;
}