.productPageWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.heading {
    text-align: center;
    margin: 20px 0;
}

.infoWrapper {
    display: flex;
}

.infoImageWrapper {
    width: 50%;
    text-align: center;
}

.infoImageWrapper img {
    width: 80%;
    height: 500px;
    overflow: hidden;
    object-fit: cover;
}

.infoTextWrapper {
    display: flex;
    flex-direction: column;
}

.ratingWrapper {
    display: flex;
}

.stars {

}

.reviews {

}

.addToCartWrapper {
    display: flex;
}

.addToCartButton {
    margin-right: 40px;
}

/*.counterWrapper {*/
/*    display: flex;*/
/*}*/

/*.counterWrapper input {*/
/*    width: 40px;*/
/*    border-radius: 20px;*/
/*    margin: 0 20px;*/
/*    outline: none;*/
/*    text-align: center;*/
/*}*/

/*.counterWrapper button {*/
/*    width: 40px;*/
/*    border-radius: 20px;*/
/*    outline: none;*/
/*    background-color: #EC5118;*/
/*    font-size: 24px;*/
/*    padding: 0;*/
/*    text-align: center;*/
/*}*/
