.sortPanelWrapper {
  margin-bottom: 20px;

  .sortPanel {
    display: flex;
    justify-content: flex-end;

    * {
      margin-right: 30px;
    }

    .text {

    }

    .selectArea {
      width: 250px;
    }

    .sortArrow {
      cursor: pointer;
    }
  }
}