.container {
    width: 100%;
}

.slidesContainer {
    width: 100%;
}

.slideWrapper {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    height: 400px;

    .infoWrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
    }

    .imageWrapper {
        width: 400px;
        height: auto;
        img {
            width: 100%;
        }
    }
}
